.root {
    -fx-background-color: #FFF9C4;
    -fx-font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.titulo {
    -fx-text-fill: #553199;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}
.subtitulo {
    -fx-font-size: 16px;
    -fx-text-fill: #553199;
}
.campo-texto {
    -fx-font-size: 14px;
    -fx-border-color: #553199;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button {
    -fx-background-color: #FFC107;
    -fx-text-fill: #553199;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #FFC130;
}

/* texto da pergunta */
.enunciado-pergunta {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

/* p/ deixar a alternativa marcada */
.alternativa-radio {
    -fx-font-size: 14px;
    -fx-text-fill: #34495e;
}
/* cartão central */
.cartao {
    -fx-background-color: transparent;
    -fx-padding: 30 50 30 50;
}
/* --- Estilos para a Tela de Resultados --- */

.caixa-pontuacao {
    -fx-background-color: #FFF9C4;
    -fx-background-radius: 15;
    -fx-border-color: #FFC107;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-padding: 30 50 30 50;
}

.pontuacao-gigante {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #553199;
}
/* TELA DE INTRODUÇÃO */
.cartao-introducao {
    -fx-padding: 20;
}

.texto-introducao {
    -fx-font-size: 18px;
    -fx-text-fill: #4a4a4a;
}

/* Base comum para os cards (FOR e WHILE) */
.card-laco {
    -fx-background-color: #FFF9C4;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 20;
    -fx-border-color:#553199;
    -fx-border-width: 2;
}

/* Textos de dentro dos cards */
.titulo-laco {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: #553199;
}

.texto-laco {
    -fx-font-size: 15px;
}

.exemplo-laco {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

.emoji-laco {
    -fx-font-size: 26px;
}

/* Botão grande de iniciar */
.btn-gamificado {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.painel-tutorial {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 20;
    -fx-border-width: 3;
}

.painel-problema {
    -fx-background-color: #fff0f0;
    -fx-border-color: #ff9999;
}

.painel-solucao {
    -fx-background-color: #f0faf0;
    -fx-border-color: #d3fc72;
}